.weather {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.weather-text {
  text-align: center;
  position: absolute;
  padding: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  font-size: 50px;
}